[class^="ua-brand-"], [class*=" ua-brand-"] {
	display: inline-block;
	color: #000000;
	fill: currentColor;
}
.ua-brand-up-left-arrow {
	width: 32px;
	height: 32px;
}
.ua-brand-left-arrow {
	width: 32px;
	height: 32px;
}
.ua-brand-uaccess {
	width: 32px;
	height: 32px;
}
.ua-brand-checklist {
	width: 32px;
	height: 32px;
}
.ua-brand-spring-fling {
	width: 32px;
	height: 32px;
}
.ua-brand-tour {
	width: 32px;
	height: 32px;
}
.ua-brand-uasavvy {
	width: 32px;
	height: 32px;
}
.ua-brand-athletics {
	width: 32px;
	height: 32px;
}
.ua-brand-feedback {
	width: 32px;
	height: 32px;
}
.ua-brand-alumni {
	width: 32px;
	height: 32px;
}
.ua-brand-document {
	width: 32px;
	height: 32px;
}
.ua-brand-az-index {
	width: 32px;
	height: 32px;
}
.ua-brand-directory {
	width: 32px;
	height: 32px;
}
.ua-brand-calendar {
	width: 32px;
	height: 32px;
}
.ua-brand-weather {
	width: 32px;
	height: 32px;
}
#ua-brand-weather .path1 {
	fill: currentcolor;
}
#ua-brand-weather .path2 {
	fill: currentcolor;
}
#ua-brand-weather .path3 {
	fill: currentcolor;
}
#ua-brand-weather .path4 {
	fill: currentcolor;
}
#ua-brand-weather .path5 {
	fill: currentcolor;
}
#ua-brand-weather .path6 {
	fill: currentcolor;
}
#ua-brand-weather .path7 {
	fill: currentcolor;
}
#ua-brand-weather .path8 {
	fill: currentcolor;
}
#ua-brand-weather .path9 {
	fill: currentcolor;
}
.ua-brand-video {
	width: 32px;
	height: 32px;
}
.ua-brand-campus-map {
	width: 32px;
	height: 32px;
}
#ua-brand-campus-map .path1 {
	fill: currentcolor;
}
#ua-brand-campus-map .path2 {
	fill: currentcolor;
}
#ua-brand-campus-map .path3 {
	fill: currentcolor;
}
#ua-brand-campus-map .path4 {
	fill: currentcolor;
}
#ua-brand-campus-map .path5 {
	fill: currentcolor;
}
#ua-brand-campus-map .path6 {
	fill: currentcolor;
}
.ua-brand-news {
	width: 32px;
	height: 32px;
}
.ua-brand-foursquare {
	width: 32px;
	height: 32px;
}
#ua-brand-foursquare .path1 {
	fill: currentcolor;
}
#ua-brand-foursquare .path2 {
	fill: currentcolor;
}
#ua-brand-foursquare .path3 {
	fill: currentcolor;
}
.ua-brand-pinterest {
	width: 32px;
	height: 32px;
}
.ua-brand-youtube {
	width: 32px;
	height: 32px;
}
.ua-brand-facebook {
	width: 32px;
	height: 32px;
}
.ua-brand-ua-mobile {
	width: 32px;
	height: 32px;
}
.ua-brand-googleplus {
	width: 32px;
	height: 32px;
}
.ua-brand-instagram {
	width: 32px;
	height: 32px;
}
.ua-brand-linkedin {
	width: 32px;
	height: 32px;
}
.ua-brand-twitter {
	width: 32px;
	height: 32px;
}
.ua-brand-rss {
	width: 32px;
	height: 32px;
}
.ua-brand-unbookmark {
	width: 32px;
	height: 32px;
}
.ua-brand-search {
	width: 31px;
	height: 32px;
}
.ua-brand-bookmark {
	width: 32px;
	height: 32px;
}
.ua-brand-checkmark {
	width: 32px;
	height: 32px;
}
.ua-brand-x {
	width: 32px;
	height: 32px;
}
.ua-brand-grip {
	width: 32px;
	height: 32px;
}
#ua-brand-grip .path1 {
	fill: currentcolor;
}
#ua-brand-grip .path2 {
	fill: currentcolor;
}
#ua-brand-grip .path3 {
	fill: currentcolor;
}
.ua-brand-minus {
	width: 32px;
	height: 32px;
}
.ua-brand-plus {
	width: 32px;
	height: 32px;
}
.ua-brand-email {
	width: 32px;
	height: 32px;
}
#ua-brand-email .path1 {
	fill: currentcolor;
}
#ua-brand-email .path2 {
	fill: currentcolor;
}
#ua-brand-email .path3 {
	fill: currentcolor;
}
#ua-brand-email .path4 {
	fill: currentcolor;
}
#ua-brand-email .path5 {
	fill: currentcolor;
}
.ua-brand-print {
	width: 32px;
	height: 32px;
}
#ua-brand-print .path1 {
	fill: currentcolor;
}
#ua-brand-print .path2 {
	fill: currentcolor;
}
#ua-brand-print .path3 {
	fill: currentcolor;
}
#ua-brand-print .path4 {
	fill: currentcolor;
}
.ua-brand-link {
	width: 32px;
	height: 32px;
}
.ua-brand-refresh {
	width: 32px;
	height: 32px;
}
.ua-brand-upload {
	width: 32px;
	height: 32px;
}
.ua-brand-download {
	width: 32px;
	height: 32px;
}
.ua-brand-minimize {
	width: 32px;
	height: 32px;
}
.ua-brand-maximize {
	width: 32px;
	height: 32px;
}
.ua-brand-fast-forward {
	width: 32px;
	height: 32px;
}
.ua-brand-stop {
	width: 32px;
	height: 32px;
}
.ua-brand-pause {
	width: 32px;
	height: 32px;
}
#ua-brand-pause .path1 {
	fill: currentcolor;
}
#ua-brand-pause .path2 {
	fill: currentcolor;
}
.ua-brand-rewind {
	width: 32px;
	height: 32px;
}
.ua-brand-down-point {
	width: 32px;
	height: 32px;
}
.ua-brand-up-right-point {
	width: 32px;
	height: 32px;
}
.ua-brand-right-point {
	width: 32px;
	height: 32px;
}
.ua-brand-down-right-point {
	width: 32px;
	height: 32px;
}
.ua-brand-up-point {
	width: 32px;
	height: 32px;
}
.ua-brand-left-point {
	width: 32px;
	height: 32px;
}
.ua-brand-down-left-point {
	width: 32px;
	height: 32px;
}
.ua-brand-up-left-point {
	width: 32px;
	height: 32px;
}
.ua-brand-bottom-left-corner {
	width: 32px;
	height: 32px;
}
.ua-brand-bottom-corner {
	width: 32px;
	height: 32px;
}
.ua-brand-bottom-right-corner {
	width: 32px;
	height: 32px;
}
.ua-brand-right-corner {
	width: 32px;
	height: 32px;
}
.ua-brand-top-right-corner {
	width: 32px;
	height: 32px;
}
.ua-brand-top-corner {
	width: 32px;
	height: 32px;
}
.ua-brand-top-left-corner {
	width: 32px;
	height: 32px;
}
.ua-brand-left-corner {
	width: 32px;
	height: 32px;
}
.ua-brand-down-left-arrow {
	width: 32px;
	height: 32px;
}
.ua-brand-down-arrow {
	width: 32px;
	height: 32px;
}
.ua-brand-down-right-arrow {
	width: 32px;
	height: 32px;
}
.ua-brand-right-arrow {
	width: 32px;
	height: 32px;
}
.ua-brand-up-right-arrow {
	width: 32px;
	height: 32px;
}
.ua-brand-up-arrow {
	width: 32px;
	height: 32px;
}
.ua-brand-up-left-arrow2 {
	width: 32px;
	height: 32px;
}
.ua-brand-left-arrow2 {
	width: 32px;
	height: 32px;
}
.ua-brand-click {
	width: 32px;
	height: 32px;
}
.ua-brand-map-marker {
	width: 32px;
	height: 32px;
}
.ua-brand-sign-post {
	width: 32px;
	height: 32px;
}
.ua-brand-majors-and-degrees {
	width: 32px;
	height: 32px;
}
.ua-brand-cost {
	width: 32px;
	height: 32px;
}
